<div class="container">
  <div class="row">
    <!--Div to show image-->
    <div class="col-md-3">
      <img class="img-responsive" src="/assets/img/dp.jpg" alt="Riya Dashoriya"/>
    </div>
    <!--Div for introduction -->
    <div class="col-md-9">
      <p>
        {{ description1 }}
      </p>
      <p>
        {{ description2 }}
      </p>
    </div>
  </div>
  <!--Div for interests-->
  <div class="row">
    <div class="col-md-12">
      <h2>Interests</h2>
      <p>
        {{ interests }}
      </p>
    </div>
  </div>
  <!--Div for projects-->
  <div class="row">
    <div class="col-md-12">
      <h2>Projects</h2>
      <a href="https://github.com/riyadashoriya/Movie_Trailer_Website"
      target="_blank"><h3>Movie Trailer Website</h3></a>
      <p>
       {{ project1 }}
      </p>
      <a href="https://github.com/riyadashoriya/Build-a-Portfolio-Site"
      target="_blank"><h3>Build a Portfolio Site</h3></a>
      <p>
        {{ project2 }}
      </p>
      <a href="http://loki.ist.unomaha.edu/~rdashoriya/project/"
      target="_blank"><h3>Cookies with a Conscience</h3></a>
      <p>
        As a part of final project for “Introduction to Web Development”
        (Subject at University of Nebraska at Omaha, Nebraska, USA).
        A website for a club named “Cookies with a Conscience” which makes and
        sell cookies for charity.
        Fully developed using HTML, CSS, PHP and Perl.
      </p>
    </div>
  </div>
</div>
