<!--Section for displaying buttons and results-->
<section class="buttons">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 text-center">
        <!--Show the higher or lower buttons for playing-->
        <div *ngIf = "buttons">
          <header><h1>Choose Higher or Lower</h1></header>
          <button (click)="higher()">Higher</button>
          <button (click)="lower()">Lower</button>
        </div>
        <!--Show tryagain button after result is shown-->
        <div *ngIf = "tryagain">
          <button (click)="getCards()">Try Again</button>
        </div>
        <br>
        <!--Display the result-->
        <div *ngIf = "equal"><strong>Cards are equal.</strong></div>
        <div *ngIf = "correct"><strong>You Win!</strong></div>
        <div *ngIf = "wrong"><strong>Better Luck Next Time</strong></div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</section>

<!--Section for displaying cards-->
<section class="cardDisplay">
  <div class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-6">
        <!--Show image of player 1-->
        <div class="col-md-6">
          <img class="img-responsive img-circle" src="/assets/img/dp.jpg" alt="image"/>
        </div>
        <!--Show card value and image of player 1-->
        <div class="col-md-6">
          Player 1
          <div *ngFor="let x of deck; let i=index; let first = first" >
            <div *ngIf = "first">
              Value: {{ x.value }}
              <br>
              <img class="img-responsive" alt="Player 1" src="{{ x.image }}"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!--Show card value and image of player 2-->
        <div class="col-md-6">
          Player 2
          <div *ngIf = "check">
            <div *ngFor="let x of deck; let i=index; let last = last" >
              <div *ngIf = "last">
                Value: {{ x.value }}
                <br>
                <img class="img-responsive" alt="Player 2" src="{{ x.image }}"/>
              </div>
            </div>
          </div>
        </div>
        <!--Show image of end-user i.e. player 2-->
        <div class="col-md-6">
          <img class="img-responsive img-circle" src="/assets/img/unknown.png"
          alt="image"/>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
</section>
